.account_container{
  padding-top: 20px;
  paddng-bottom: 20px;
  text-indent: 50px;
  margin-left: 20px;
  margin-top: 30px;
  width: 600px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
}

.account_info_list {
  list-style-type: none;

  margin-top: 20px;
  margin-bottom: 20px;
}

.account_info_list li{
  margin-bottom: 20px;
}

.find_container{
  margin-left: 20px;
  margin-top: 30px;
}

.find_container p {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
